<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TwitchChannelToMonitor" value=""/>
		<add key="TwitchLoginUsername" value=""/>
		<add key="TwitchLoginOAuthToken" value=""/>
		<add key="ElevenLabsApiKey" value=""/>
		<add key="SimilarityBoost" value="1.0"/>
		<add key="Stability" value="1.0"/>
		<add key="Style" value="0.5"/>
		<add key="SpeakerBoost" value="false"/>
		<add key="TTSDelayInMs" value="1000"/>
	</appSettings>
</configuration>